@{
    ViewBag.Title = "Home Page";
}

        <div class="container col-md-12 text-center">
            @foreach (var item in ViewBag.visualSportsActivities)
            {

            <div class="card col-md-4">
                <img src="@item.image" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.title</h5>
                    <p class="card-text">
                        Her kunne der være en fin lile beskrivelse som forklare hvad der identificere sports aktiviteten
                    </p>
                </div>
                <a href="@item.link" class="btn btn-lg btn-primary">Besøg website</a>
            </div>



            }

        </div>

